# Example Environment variables

# Backend Settings
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/autism
PROJECT_NAME="Autism Assessment API"

# Frontend Settings
NEXT_PUBLIC_API_URL=http://localhost:8000/api
